# Data Integration

In [28]:
import pandas as pd
import numpy as np

In [47]:
tiket = pd.read_csv ('tiket.csv')
penumpang =pd.read_csv('penumpang.csv')
tiket

,KODE TIKET,JENIS PENERBANGAN,MASKAPAI,LAMA TERBANG,LAMA TRANSIT,TOTAL
0,D04MNA,Domestik,Merpati,1.0,0.0,
1,D04MDL,Domestik,Lion Air,3.0,0.0,
2,I12GIA,Internasional,Garuda Indonesia,2.0,0.0,
3,D11CTV,Domestik,Citilink,1.5,0.0,
4,I03SJY,Internasional,Sriwijaya Air,5.0,1.0,
5,I03GIA,Internasiona,Garuda Indonesia,12.0,4.0,
6,D07MNA,Domestik,Merpati,1.0,0.0,
7,D08SJY,Domestik,Sriwijaya Air,4.0,0.5,
8,D01SJY,Domestik,Sriwijaya Air,3.0,0.0,
9,I01GIA,Internasional,Garuda Indonesia,7.0,2.0,

In [45]:
penumpang

  KODE TIKET Jenis Kelamin  Usia
0     D04MNA     Laki-Laki    19
1     D04MDL     Perempuan    25
2     I12GIA     Perempuan    54
3     D11CTV     Perempuan    29
4     I03SJY     Laki-Laki    44
5     I03GIA     Laki-Laki    31
6     D07MNA     Laki-Laki    35
7     D08SJY     Perempuan    15
8     D01SJY     Laki-Laki     5
9     I01GIA     Laki-Laki    12

In [49]:
data = pd.merge(penumpang, tiket, on='KODE TIKET')
data

,KODE TIKET,Jenis Kelamin,Usia,JENIS PENERBANGAN,MASKAPAI,LAMA TERBANG,LAMA TRANSIT,TOTAL
0,D04MNA,Laki-Laki,19,Domestik,Merpati,1.0,0.0,
1,D04MDL,Perempuan,25,Domestik,Lion Air,3.0,0.0,
2,I12GIA,Perempuan,54,Internasional,Garuda Indonesia,2.0,0.0,
3,D11CTV,Perempuan,29,Domestik,Citilink,1.5,0.0,
4,I03SJY,Laki-Laki,44,Internasional,Sriwijaya Air,5.0,1.0,
5,I03GIA,Laki-Laki,31,Internasiona,Garuda Indonesia,12.0,4.0,
6,D07MNA,Laki-Laki,35,Domestik,Merpati,1.0,0.0,
7,D08SJY,Perempuan,15,Domestik,Sriwijaya Air,4.0,0.5,
8,D01SJY,Laki-Laki,5,Domestik,Sriwijaya Air,3.0,0.0,
9,I01GIA,Laki-Laki,12,Internasional,Garuda Indonesia,7.0,2.0,

In [51]:
data['TOTAL'] =(data['LAMA TERBANG']+data['LAMA TRANSIT'])
data

,KODE TIKET,Jenis Kelamin,Usia,JENIS PENERBANGAN,MASKAPAI,LAMA TERBANG,LAMA TRANSIT,TOTAL
0,D04MNA,Laki-Laki,19,Domestik,Merpati,1.0,0.0,1.0
1,D04MDL,Perempuan,25,Domestik,Lion Air,3.0,0.0,3.0
2,I12GIA,Perempuan,54,Internasional,Garuda Indonesia,2.0,0.0,2.0
3,D11CTV,Perempuan,29,Domestik,Citilink,1.5,0.0,1.5
4,I03SJY,Laki-Laki,44,Internasional,Sriwijaya Air,5.0,1.0,6.0
5,I03GIA,Laki-Laki,31,Internasiona,Garuda Indonesia,12.0,4.0,16.0
6,D07MNA,Laki-Laki,35,Domestik,Merpati,1.0,0.0,1.0
7,D08SJY,Perempuan,15,Domestik,Sriwijaya Air,4.0,0.5,4.5
8,D01SJY,Laki-Laki,5,Domestik,Sriwijaya Air,3.0,0.0,3.0
9,I01GIA,Laki-Laki,12,Internasional,Garuda Indonesia,7.0,2.0,9.0

In [52]:
# delete colomn
data1 = data.drop(['MASKAPAI'], axis=1)
data1

,KODE TIKET,Jenis Kelamin,Usia,JENIS PENERBANGAN,LAMA TERBANG,LAMA TRANSIT,TOTAL
0,D04MNA,Laki-Laki,19,Domestik,1.0,0.0,1.0
1,D04MDL,Perempuan,25,Domestik,3.0,0.0,3.0
2,I12GIA,Perempuan,54,Internasional,2.0,0.0,2.0
3,D11CTV,Perempuan,29,Domestik,1.5,0.0,1.5
4,I03SJY,Laki-Laki,44,Internasional,5.0,1.0,6.0
5,I03GIA,Laki-Laki,31,Internasiona,12.0,4.0,16.0
6,D07MNA,Laki-Laki,35,Domestik,1.0,0.0,1.0
7,D08SJY,Perempuan,15,Domestik,4.0,0.5,4.5
8,D01SJY,Laki-Laki,5,Domestik,3.0,0.0,3.0
9,I01GIA,Laki-Laki,12,Internasional,7.0,2.0,9.0

In [53]:
# Drop baris ke-4
data2 = data.drop([1])
data2

,KODE TIKET,Jenis Kelamin,Usia,JENIS PENERBANGAN,MASKAPAI,LAMA TERBANG,LAMA TRANSIT,TOTAL
0,D04MNA,Laki-Laki,19,Domestik,Merpati,1.0,0.0,1.0
2,I12GIA,Perempuan,54,Internasional,Garuda Indonesia,2.0,0.0,2.0
3,D11CTV,Perempuan,29,Domestik,Citilink,1.5,0.0,1.5
4,I03SJY,Laki-Laki,44,Internasional,Sriwijaya Air,5.0,1.0,6.0
5,I03GIA,Laki-Laki,31,Internasiona,Garuda Indonesia,12.0,4.0,16.0
6,D07MNA,Laki-Laki,35,Domestik,Merpati,1.0,0.0,1.0
7,D08SJY,Perempuan,15,Domestik,Sriwijaya Air,4.0,0.5,4.5
8,D01SJY,Laki-Laki,5,Domestik,Sriwijaya Air,3.0,0.0,3.0
9,I01GIA,Laki-Laki,12,Internasional,Garuda Indonesia,7.0,2.0,9.0